# **Problems**

## **Problem 01**

### **Figures to Words (Western Style)**

Write a function to convert figures to words in Western Number System using Dictionary:

1367 -> "One thousand three hundred and sixty seven"

18934345 -> "Eighteen million nine hundred and thirty four thousand three hundred and forty five"

**Note:** You can assume that the numbers are below 1 trillion

In [ ]:
ONES = {0: 'Zero',1: 'One',2: 'Two',3: 'Three',4: 'Four',5: 'Five',6: 'Six',7: 'Seven',8: 'Eight',9: 'Nine'}
TWOS = {0: 'Ten',1: 'Eleven',2: 'Twelve',3: 'Thirteen',4: 'Fourteen',5: 'Fifteen',6: 'Sixteen',7: 'Seventeen',8: 'Eighteen',9: 'Nineteen'}
TENS = {2: 'Twenty',3: 'Thirty',4: 'Forty',5: 'Fifty',6: 'Sixty',7: 'Seventy',8: 'Eighty',9: 'Ninety',10: 'Hundred'}
SUFFIXES = {0: '',1: 'Thousand',2: 'Million',3: 'Billion'}

# my code logic
def process(number, index):
    if number=='0':
        return 'Zero'
    
    length = len(number)
    
    if(length > 3):
        return False
    
    number = number.zfill(3)
    words = ''
 
    hdigit = int(number[0])
    tdigit = int(number[1])
    odigit = int(number[2])
    
    words += '' if number[0] == '0' else ONES[hdigit]
    if int(number) > 100:
      words += ' Hundred and ' if not words == '' else ''
    else:
      words += ' Hundred' if not words == '' else ''
    
    if(tdigit > 1):
        words += TENS[tdigit]
        words += ' '
        words += ONES[odigit]
    
    elif(tdigit == 1):
        words += TWOS[(int(tdigit + odigit) % 10) - 1]
        
    elif(tdigit == 0):
        words += ONES[odigit]

    if(words.endswith('Zero')):
        words = words[:-len('Zero')]
    else:
        words += ' '
     
    if(not len(words) == 0):    
        words += SUFFIXES[index]
        
    return words;

# my main function 
def figures2words(n: int) -> str:
  length = len(str(n))
     
  count = length // 3 if length % 3 == 0 else length // 3 + 1
  copy = count
  words = []
 
  for i in range(length - 1, -1, -3):
      words.append(process(str(n)[0 if i - 2 < 0 else i - 2 : i + 1], copy - count))
      count -= 1;

  final_words = ''
  for s in reversed(words):
      temp = s + ' '
      final_words += temp
  return final_words

figures2words(189343450)

'One Hundred and Eighty Nine Million Three Hundred and Forty Three Thousand Four Hundred and Fifty  '

## **Problem 02**

### **Roman to Arabic and Arabic to Roman**

Implement two functions that converts roman number to arabic number and vice versa

Example:

 > roman2arabic("V") --> 5

 > arabic2roman(9) --> "IX"

In [ ]:
# roman to arabic 
def roman2arabic(roman_number: str) -> int:

  rom_value = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
  int_value = 0
  for i in range(len(roman_number)):
      if i > 0 and rom_value[roman_number[i]] > rom_value[roman_number[i - 1]]:
          int_value += rom_value[roman_number[i]] - 2 * rom_value[roman_number[i - 1]]
      else:
          int_value += rom_value[roman_number[i]]
  return int_value


# arabic to roman 
def arabic2roman(arabic_number: int) -> str:

  """ Returns roman characters of passed number """
  if arabic_number < 1:
    return "No Roman for 0"
  
  result = ""
  table = {
      1000: "M", 900: "CM", 500: "D", 400: "CD", 100: "C", 90: "XC", 
      50: "L", 40: "XL", 10: "X", 9: "IX", 5: "V", 4: "IV", 1: "I",}
  for cap in table:
    d, m = divmod(arabic_number, cap)
    result += table[cap] * d
    arabic_number = m

  return result

print(roman2arabic("V"))
print(arabic2roman(9))

5
IX