## **Dataset**

In this Experiment you will be using movies dataset. The dataset contains 77 rows and 8 columns. The columns are as follows:

* Film
* Genre
     - Romance, Comedy, Drama, Animation, Fantasy, Action
* Lead Studio
* Audience score in percentage
* Profitability
* Rotten Tomatoes in percentage
* Worldwide Gross
* Year

## **Exercises**

In [24]:
import pandas as pd

In [25]:
moviesdata = pd.read_csv("/content/movies.csv")

In [26]:
moviesdata.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [27]:
#checking shape of the dataset
moviesdata.shape

(77, 8)

In [28]:
#Checking data types of each variable
moviesdata.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [29]:
# Checking for missing values in dataset
# In the dataset missing values are represented as '?' sign
for col in moviesdata.columns:
    if moviesdata[col].dtype == object:
         print(col,moviesdata[col][moviesdata[col] == '?'].count())

Film 0
Genre 0
Lead Studio 0
Worldwide Gross 0

### Exercises 1: How many movies are listed in the moviesdata dataframe?

In [30]:
print(moviesdata['Film'].unique().shape[0],"movies are listed in the moviesdata")

75 movies are listed in the moviesdata

### Exercises 2: How many movies were made in the year 2009?

In [31]:
# Your Code Here
movie_made_in_2009 = moviesdata[(moviesdata['Year'] == 2009)]
movie_made_in_2009.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
13,The Ugly Truth,Comedy,Independent,68,5.402632,14,$205.30,2009
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
15,The Time Traveler's Wife,Drama,Paramount,65,2.598205,38,$101.33,2009
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009

In [32]:
result = movie_made_in_2009.count()['Film']
print(result,"movies were made in the year 2009")

12 movies were made in the year 2009

### Exercises 3: Which year saw the most films released?

In [33]:
# Your Code Here
most_film_released = moviesdata['Year']
print(most_film_released.max(),"is the year which had shown maximum number of film released")

2011 is the year which had shown maximum number of film released

### Exercises 4: How many movies were made from 2010 through 2011?

In [34]:
# Your Code Here
df = moviesdata.loc[(moviesdata['Year'] >= 2010) & (moviesdata['Year'] <= 2011)]
movie_made_2010_to_2011 = df['Film'].unique().shape[0]

In [35]:
print(movie_made_2010_to_2011,"movies were made from 2010 through 2011")

33 movies were made from 2010 through 2011

### Exercises 5: In Genre column, sometimes Comedy is spelled as Comdy, comedy and Romance is spelled as romance, Romence. Replace all the misspelt words with correct words

In [36]:
# Your Code Here
moviesdata['Genre'].mask((moviesdata['Genre'] == 'Comdy') | (moviesdata['Genre'] == 'comedy'),'Comedy', inplace=True)
moviesdata['Genre'].mask((moviesdata['Genre'] == 'romance') | (moviesdata['Genre'] == 'Romence'),'Romance', inplace=True)
moviesdata

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,Romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,Comedy,Fox,81,8.096000,87,$60.72,2009

### Exercises 6: How many Comedy Genre movies has release in 2009?

In [37]:
# Your Code Here
df = moviesdata.loc[(moviesdata['Year'] == 2009) & (moviesdata['Genre'] == 'Comedy')]
print(df.shape[0],"Comedy Genre movies has release in 2009")

7 Comedy Genre movies has release in 2009

### Exercises 7: Which year as the most number of Romance Genre Movies releases?

In [38]:
# Your Code Here
df = moviesdata.loc[(moviesdata['Genre'] == 'Romance')].max()
df['Year']
print(df['Year'],"year as the most number of Romance Genre Movies releases")

2011 year as the most number of Romance Genre Movies releases

### Exercises 8: How many films are made by Sony Lead Studio?

In [39]:
# Your Code Here
df = moviesdata.loc[(moviesdata['Lead Studio'] == 'Sony')]
print(df.shape[0],"films are made by Sony Lead Studio")

4 films are made by Sony Lead Studio

### Exercises 9: How many films are having Audience score less than 50 %?

In [40]:
# Your Code Here
describe = moviesdata.loc[(moviesdata['Audience score %'] < 50)]['Film'].shape[0]
print(describe,"films are having Audience score less than 50 %")

16 films are having Audience score less than 50 %

### Exercises 10: Display all the movies done by Universal Lead Studio?

In [41]:
# Your Code Here
moviesdata.loc[(moviesdata['Lead Studio'] == 'Universal')]['Film'].unique()

array(['Mamma Mia!', 'Love Happens', 'Leap Year', 'Knocked Up',
       'Jane Eyre', "It's Complicated", 'A Serious Man'], dtype=object)